@import "tailwindcss";

@layer base {
  :root {
    --shadow-glass-inset: inset 0 17px 5px -9px rgba(254, 254, 91, 0.05);
    --shadow-glass-sm: 5px 5px 20px 0px rgba(254, 254, 91, 0.3);
    --color-background: rgb(27, 27, 27);
    --color-foreground: rgb(225, 225, 225);
    --color-muted: rgb(115, 115, 115);
    --color-accent: rgb(254 254 91);
    --background-with-opacity: rgba(27, 27, 27, 0.2);
    --color-accent-with-opacity: rgba(254, 254, 91, 0.3);
    --firefly-radial: radial-gradient(50% 50% at 50% 50%, rgba(253, 255, 80, 0.5) 0%, rgba(217, 217, 217, 0) 100%);
  }
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: var(--font-inter), sans-serif;
}

.spin-slow {
  animation: spin 40s linear infinite;
  transform-origin: center;
}

.spin-slow-reverse {
  animation: spin-reverse 40s linear infinite;
  transform-origin: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100px, 100px);
  }
}